# Server
PORT=3000

# DB
DB_URI=mongodb+srv://khaledsharaf153_db_user:kkkk123456789@cluster0.i7hkush.mongodb.net/Saraha

# Security
SALT_ROUNDS=12
ENCRYPT_KEY=lfspigjifghf

# JWT
JWT_ACCESS_EXPIRES_IN=1000
JWT_ACCESS_SIGNATURE=ogkfdjgidpjgpf

JWT_REFRESH_EXPIRES_IN=31557600000
JWT_REFRESH_SIGNATURE=kfhjgohdfough